@import 'tailwindcss';

body {
  @apply m-0;
  font-family: 'TASA Orbiter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-slate-50 min-h-screen;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  button,
a:not([href*="https://tenor"])
  {
    @apply flex items-center justify-center w-full p-3 text-center text-white text-2xl font-bold shadow-md rounded-md bg-sky-500 cursor-pointer;
  }

  h1 {
    @apply text-5xl md:text-5xl font-black text-slate-800;
  }

  h2 {
    @apply text-2xl font-semibold md:text-3xl text-gray-600;
  }

  p {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }
}
